.ul-2-about {
    background-color: var(--ul-2-secondary);

    .ul-2-section-title {
        color: #1A1A1A;
    }

    .ul-2-section-descr,
    .ul-2-about-descr {
        font-size: clamp(13px, 0.84vw, 16px);
        line-height: 150%;
        color: #696969;
        font-weight: 400;
        margin-bottom: 0;
    }

    &-img {
        position: relative;
        width: max-content;
        max-width: 100%;
        min-width: 100%;

        .main-img {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: clamp(0px, 2.63vw, 50px);
            width: clamp(463px, 25.91vw, 493px);
            max-width: 100%;

            @include lg {
                left: 0;
            }

            @include md {
                width: 80%;
            }
        }

        &-bgs {
            display: flex;
            gap: clamp(6px, 0.53vw, 10px);
            border-radius: 5px;
            overflow: hidden;
            // aspect-ratio: 680/630;

            // @include lg {
            //     aspect-ratio: 680/810;
            // }

            >img {
                flex-grow: 1;

                @include md {}

                @include xs {
                    max-width: 40%;
                }
            }
        }

        &-bg-1 {
            position: relative;
            z-index: 0;
            width: max-content;
            flex-shrink: 0;
            flex-grow: 1;
            max-width: 65%;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                top: 32%;
                background-color: var(--ul-2-primary);
                clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
            }

            img {
                width: clamp(180px, 23.65vw, 450px);
                width: 100%;
                // height: 100%;
                object-fit: cover;
                aspect-ratio: 10/14;
            }
        }

        &-txt {
            position: absolute;
            right: clamp(20px, 2.10vw, 40px);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 18px;

            .txt {
                font-size: clamp(36px, 2.52vw, 48px);
                font-weight: 700;
                line-height: 83%;
                text-transform: uppercase;
                -webkit-text-stroke: 1.5px var(--white);
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                color: transparent;
            }

            img {
                width: 39px;
            }
        }
    }

    &-play-btn {
        position: absolute;
        z-index: 2;
        top: clamp(20px, 2.10vw, 40px);
        left: clamp(25px, 2.63vw, 50px);
        width: clamp(46px, 3.05vw, 58px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--ul-2-primary);
        color: var(--white);
        outline: 1px solid rgba(255, 255, 255, 0.2);
        outline-offset: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        animation: outlineAnim 2s linear infinite forwards;

        &:hover {
            background-color: var(--white);
        }
    }

    @keyframes outlineAnim {
        0% {
            outline-offset: 0px;
            outline-color: rgba(255, 255, 255, 0.2);
        }

        100% {
            outline-offset: 20px;
            outline-color: transparent;
        }
    }

    &-points {
        display: flex;
        gap: clamp(15px, 1.58vw, 30px);
        border-radius: 6px;
        margin: clamp(15px, 1.05vw, 20px) 0;

        @include xxs {
            flex-direction: column;
        }
    }

    &-point {
        background-color: var(--white);
        display: flex;
        align-items: center;
        gap: clamp(10px, 0.79vw, 15px);
        padding: clamp(12px, 1.05vw, 20px);
        box-shadow: 0px 4px 60px rgba(255, 0, 0, 0.12);
        border-radius: 6px;

        .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-transform: capitalize;
            color: #1A1A1A;
        }
    }

    .ul-btn {
        margin-top: clamp(16px, 1.84vw, 35px);
        display: inline-flex;
        background-color: var(--ul-2-primary);
        border-color: var(--ul-2-primary);
        color: var(--white);

        i {
            font-size: 12px;
        }

        &:hover {
            background-color: var(--black);
            border-color: var(--black);
        }
    }
}