.ul-account-types {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFEDED 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        min-width: min-content;
    }

    th,
    td {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: clamp(7.55px, 0.61vw, 11.55px) clamp(15px, 2.63vw, 50px);
        text-align: left;
    }

    th {
        background-color: #1a1a1a;
        font-weight: 800;
        font-size: clamp(20px, 1.26vw, 24px);
        line-height: 133%;
        color: var(--white);
        padding: clamp(16.5px, 1.23vw, 23.5px) clamp(15px, 2.63vw, 50px);

        &:first-child {
            background-color: var(--white);
            border: none;
        }
    }

    td {
        background-color: #F6F6F6;
        font-weight: 400;
        font-size: clamp(13px, 0.84vw, 16px);
        line-height: 150%;
        color: #4D5566;
        transition: 0.3s ease;
        min-width: 180px;

        &:first-child {
            border-left: none;
            background-color: var(--white);
            font-weight: 600;
            line-height: 162%;
            color: var(--black);

            &::before {
                content: "";
                background: url(../img/checked.svg);
                width: 16px;
                aspect-ratio: 1/1;
                display: inline-block;
                margin-bottom: -2px;
                margin-right: clamp(10px, 1.05vw, 20px);
            }
        }

        &:last-child {
            border-right: none;
        }
    }

    tr:last-child {
        td {
            border-bottom: none;
            background-color: #1a1a1a;
            padding: clamp(10px, 0.79vw, 15px) clamp(15px, 2.63vw, 50px);

            &::before {
                content: none;
            }

            &:first-child {
                background-color: var(--white);
            }
        }

        &:hover {
            td:not(:first-child) {
                background-color: #1a1a1a;
            }
        }
    }

    tr:last-child td,
    th {
        border-right-color: rgba(255, 255, 255, 0.3);
    }

    tr:hover td {
        background-color: #FFEDED;
    }

    .popular::after {
        content: "POPULAR";
        background-color: rgba(15, 173, 49, 1);
        color: var(--white);
        padding: 2px 8px;
        border-radius: 30px;
        font-size: 11px;
        font-weight: 700;
        vertical-align: text-bottom;
        margin-left: 7px;
    }

    // &-vector {
    //     position: absolute;
    //     z-index: -1;
    //     width: clamp(226px, 22.39vw, 426px);
    //     // width: 326px;
    //     aspect-ratio: 1/1;
    //     left: -183px;
    //     top: clamp(175px, 9.35vw, 178px);
    //     background: rgba(8, 5, 177, 0.5);
    //     filter: blur(150px);
    // }

    // .vector-2 {
    //     background: rgba(246, 175, 15, 0.5);
    //     top: auto;
    //     left: auto;
    //     bottom: clamp(175px, 9.35vw, 178px);
    //     right: -225px;
    // }
}