.ul-highlight {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFEDED 100%);


    &-widget-wrapper {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .tradingview-widget-container {
            // aspect-ratio: 100 / 134.9;
            height: auto !important;
            border: 1px solid rgba(8, 5, 177, 0.2);
            border-radius: 0 0 10px 10px;
            overflow: hidden;
            flex-grow: 1;

            @include md {
                height: 550px !important;
            }
        }
    }

    &-content {
        padding: clamp(15px, 2.10vw, 40px);
        background-color: var(--white);
        border-radius: 10px;
        // border: 1px solid var(--ul-2-primary);
        display: flex;
        gap: clamp(20px, 2.10vw, 40px);

        @include sm {
            flex-direction: column;
        }

        .ul-section-title {
            font-size: clamp(25px, 1.84vw, 35px);
            margin-bottom: clamp(15px, 1.05vw, 20px);
        }
    }

    &-reason {
        display: flex;
        gap: clamp(14px, 1.05vw, 20px);
        padding-bottom: clamp(18px, 1.89vw, 36px);
        margin-bottom: clamp(18px, 1.89vw, 36px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &-icon {
            width: clamp(66px, 3.99vw, 76px);
            aspect-ratio: 1/1;
            border-radius: 10px;
            background-color: #FFEDED;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        &-title {
            font-weight: 800;
            font-size: clamp(17px, 1.05vw, 20px);
            color: var(--ul-black);
            display: block;
        }

        &-descr {
            font-weight: 400;
            font-size: clamp(13px, 0.84vw, 16px);
            line-height: 140%;
            color: #4D5566;
            margin-bottom: 0;
        }
    }

    &-img {
        flex-shrink: 0;

        img {
            border-radius: 10px;
            width: clamp(300px, 18.92vw, 360px);
            aspect-ratio: 360/617;

            @include sm {
                width: 100%;
            }
        }
    }
}