:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #0805B1;
    --ul-secondary: #F6AF0F;
    --ul-2-primary: #FF0000;
    --ul-2-secondary: #FFF3F3;
    --ul-c3: #05043C;
    --ul-black: #05043C;
    --ul-gray: #9E9E9E;
    --ul-gray2: #5D6063;
    --ul-gray3: #888A8D;
    --ul-gradient: linear-gradient(90deg, #213C84 0%, var(--ul-2-primary) 100%);


    --font-primary: "Manrope", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;
    --font-inter: "Inter", sans-serif;
}